@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes spin-in {
    0% {
      opacity: 0;
      transform: rotate(-180deg) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: rotate(0deg) scale(1);
    }
  }
}
